<form formGroup="form">
      <fieldset>
          <legend>user:</legend>
          <div class="form-field">
              <label>user:</label>
              <input name="user" formControlName="user">
          </div>
          <div class="form-field">
              <label>senha:</label>
              <input name="senha" formControlName="senha" 
                     type="senha">
          </div>
      </fieldset>
      <div class="form-buttons">
          <button class="button button-primary" 
                  (click)="login()">Login</button>
      </div>
  </form>
  
  